.nav-row div {
  width: 33%;
}
img.logo{
  width: 150px;
}
.btn-rounded img{
  border-radius: 100%!important;
  object-fit: cover;
  width: 50px;
}
.menu{
  gap: 20px;
  width: fit-content;
}
h1{
  font-size: 48px;
}
ul.bullets div{
  list-style: none;
}
ul.bullets li{
  display: flex;
  font-size: 14px;
  display: inline;
  margin-left: 10px;
  justify-content: center;
}
.explain-cards{
  width: fit-content;
  gap: 20px;
}
.list{
  width: fit-content;
}
h2{
  font-weight: bold;
}
.img-card div{
margin-bottom: 5px; 
}
.px-2 {
  padding-left: 15px !important;
  padding-right: 15px!important;
}
.bi-heart-fill{
  color:red;
}
.bg-purple{
  background-color:purple;
}
ul.bullets2 li{
  display: flex;
  display: inline;
  justify-content:left;
  margin-left: 0px;
}
.star{
  color:rgb(230, 230, 23);
}