.nav-row div {
  width: 33%;
}
img.logo{
  width: 150px;
}
.btn-rounded img{
  border-radius: 100%!important;
  object-fit: cover;
  width: 50px;
}
.menu{
  gap: 20px;
  width: fit-content;
}
h1{
  font-size: 48px;
}
ul.bullets div{
  list-style: none;
}
ul.bullets li{
  display: flex;
  font-size: 14px;
  display: inline;
  margin-left: 10px;
  justify-content: center;
}
.explain-cards{
  width: fit-content;
  gap: 20px;
}
.list{
  width: fit-content;
}
h2{
  font-weight: bold;
}
.img-card div{
margin-bottom: 5px; 
}
.px-2 {
  padding-left: 15px !important;
  padding-right: 15px!important;
}
.bi-heart-fill{
  color:red;
}
.bg-purple{
  background-color:rgb(219, 186, 247);
  color:rgb(94,59,160);
}
.bg-green{
  background-color:rgb(187, 241, 187) ;
  color:rgb(12,188,135) ;
}
ul.bullets2{
  padding: 0;
  margin: 0;
  display:inline;
}
ul.bullets2 li{
  display: flex;
  display: inline;
  justify-content:left;
  margin-left: 0px;
}
div.bullets2{
  margin:0;
}
.star{
  color:rgb(247, 195, 46);
}
.star .text{
  color:black;
}
div .text{
  color:black;
}
.bi-clock{
  color:red;
}
.bi-table{
  color:orange;
}
.line div{
  display: inline;
}
.line li{
  display: inline;
}
.m-6{
  margin-left:100px;
}
.mt-45{
  margin-top: 35px;
}
.bg-info div{
 background-color:rgb(23,162,184); 
}
.img-sm{
  width: 40px;
}
.text-green {
  color:rgb(21,190,140);
  font-weight: bolder;
}
.guria{
  width:650px;
}
.bg-cinza{
  background-color: rgb(245,247,249);
}
.stl-none{
  list-style: none;
}
