.nav-img {
  width: 64%;
}

.mb-6 {
  margin-bottom: 150px;
}

.ps-5 {
  padding-left: 43px !important;
}

.pt-3 {
  padding-top: 10px !important;
}

h-6 {
  font-size: 24px;
}
.mb-7{
  margin-bottom: 30px;
}
.p-6{
  padding:12px;
}
.p-7 {
  padding: 50px;
}

.pe-5 {
  padding-right: 13px !important;
}

.pt-5-2 {
  padding-top: 100px !important;
}
.p-8{
  padding: 500px;
}
.pt-5-3 {
  padding-top: 33px !important;
}

.ps-5-2 {
  padding-left: 33px !important;
}

.font-y {
  font-size: 34px;
  font-weight: bold;
  line-height: 40px;
}

.font-h3 {
  font-size: 29px;
  font-weight: bold;
}

.font-p {
  font-size: 18px;
}

.font-p-bold {
  font-size: 18px;
  font-weight: bold;
}

.font-h3-big {
  font-size: 37px;
  font-weight: bold;
}

.menu {
  gap: 30px;
  font-size: 20px;
  width: fit-content;
  font-family: syne, sans-serif;
  font-weight: bolder;
}

.tittle {
  font-weight: bolder;
  font-size: 24px;
  font-family: syne, sans-serif;
  line-height: 17px;
}

.paragrafo {
  font-size: 11px;
}

.rating {
  color: rgb(20, 10, 9);
  font-weight: bold;
}

.img-rating {
  width: 50px;
  border-radius: 50%;
  margin-left: -8px;
}

.button {
  padding: 12px 30px;
  margin: 12px 30px;
  background-color: #e54530;
  color: #fff;
  font-weight: 750;
  text-align: center;
  font-size: 20px;
}

.button-dark {
  padding: 12px 30px;
  background-color: #140a09;
  color: #e54530;
  font-family: syne;
  font-weight: bold;
  font-size: 22px;
  width: fit-content;
}
.ball-p{
  border-radius: 50%;
  padding: 55px;
}
h1 {
  font-size: 78px;
  font-weight: bolder;
  color: #000000;
  line-height: 90px;
}

.syne {
  font-family: syne, sans-serif;
}

.text-orange {
  color: #e54530;
}
.bold{
  font-weight: bold;
}
.vr {
  border-right: 1px solid rgb(107, 104, 104, 0.34)
}
.font-7{
  font-size: 20px;
}
.fon-1 {
  font-size: 72px;
}

.estrela {
  background-image: url(img/estrela.png);
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  font-size: b;
  font-weight: bolder;
  color: #000000;
}

.empilha {
  background-image: url(img/empilha.jpeg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 620px 800px;
}
.escrito{
  background-image: url(img/escrito-redondo.png);
  width:100px
}
.str-texto {
  color: #140a09;
  font-size: 26px;
  font-weight: bolder;
}
.ball{
  border-radius: 50%;
}
.seta-cima{
  width: 28px;
}
.background-dark {
background-color: #140a09;
}

.orange-background {
  background-color: #e54530;
}
.img-card-2{
  width: 150px;
  opacity:0.5;
}
.dark-background {
  background-color: #000000;
}
.card-3{
  font-size: 40px;
}
.background-light {
  background-color: rgb(248, 244, 243);
}
.text-black{
  color:#000000 !important;
}
.line{
  display:inline;
}