.nav-img{
    width: 64%;
}
.ps-5{
    padding-left:43px !important;
}
.pt-3{
    padding-top: 10px !important;
}
.pe-5{
    padding-right: 13px !important;
}
.pt-5-2{
    padding-top: 100px !important;
}
.menu{
    gap: 30px;
    font-size: 20px;
    width: fit-content;
    font-family: syne,sans-serif;
    font-weight: bolder;
  }
  .button{
    padding: 12px 30px;
    margin: 12px 30px;
    background-color: #e54530;
    color: #fff;
    font-weight: 750;
    text-align: center;
    font-size: 20px;
  }
  .button-dark{
    padding: 12px 30px;
    background-color: #140a09;
    color:#e54530;
    font-family:syne;
    font-weight: bold;
    font-size: 22px;
    width: fit-content;
  }
  h1{
    font-size:78px;
    font-weight: bolder;
    color:#000000 ;
    line-height: 90px;
  }
  .syne{
    font-family: syne,sans-serif;
  }
  .text-orange{
    color:#e54530;
  }
  .vr{
    border-left: 1px solid rgba(107, 104, 104, 0.34)
  }
.starla{
    width: 50%;
    color:#3f4f2f;
}
